[submodule "kbterrain/godot-cpp"]
	path = kbterrain/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = godot-4.5-stable
[submodule "kbterrain/googletest"]
	path = kbterrain/googletest
	url = https://github.com/google/googletest.git
	ignore = untracked
